html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0; 
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


::selection {
    color: #ffffff;
    background: #555555;
}
::-moz-selection {
    color: #ffffff;
    background: #555555;
}

@font-face {
    font-family: "TimeBurner";
    src: url(timeburner_regular.ttf);
}

div#bodyWrapper {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;

}

div#top {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    height: 40px;    
}

#logo {
    position: relative;
    top: 1px;
    left: 5px
}


div#content {    
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;

}

#content form input[type=text] {
    width: 455px;
    height: 30px;
    font-size: 20px;
    border: 1px solid  #DDDDDD;
    color: #4C4C4C;
    font-family: TimeBurner;
    font-weight: 800;
    background-image: url('../imgs/busca_bg.png');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 1px;
    padding-left: 45px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;

}

#content form input[type=text]:hover {

    border: 1px solid  #999999;
}
#content form input[type=text]:focus {

    border: 1px solid  #4DA6FF;
}

img.busca_logo {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    left: 90px;
}

table#table_busca {
    margin: 0 auto;
}



#content form input[type=submit] {
    margin-top: 20px;    
    width: 140px;
    height: 35px;
    border: 1px solid #0f80d1;
    border-radius: 3px;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    background: rgb(71,163,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(71,163,255,1) 0%, rgba(38,128,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,163,255,1)), color-stop(100%,rgba(38,128,239,1))); /* Chrome,Safari4+ */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;


}

#content form input[type=submit]:hover {
    box-shadow: 0 0 5px #4DA6FF; 

}

#busca_site {
    margin-left: 88px;


}

#busca_imagens {
    margin-left: 50px;
}

div#rodape {
    width: 100%;
    background-color: #fafafb;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 40px;   
    position: absolute;
    bottom: 0;
    left: 0;

}

div#menu_rodape {
    height: 39px;
    position: relative;
    width: 150px;
    float: left;
}

div#menu_rodape ul {
    float: left;
    margin-top: 15px;
}

div#menu_rodape ul li {
    display: inline;
    margin-left: 10px;
}

div#menu_rodape ul li a {
    color: #333333;
    text-decoration: none;
    -webkit-transition: 0.5s;
}


div#menu_rodape ul li a:hover {
    color: #ff3333;
}

div#rodape_right {
    float: right;
    width: 300px;
    height: 39px;
}

div#rodape_right h1 {
    margin-top: 15px;
    color: #444444;
    
}

div#rodape_right h1 span {
    color: #2693FF;
}